.custom-pagination .awsui_page-item_fvjdu_chz9p_251{
    /* background-color: #818CF8!important; */
    border-radius: 4px;
    padding: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    

   

}

.custom-pagination .awsui_page-item_fvjdu_chz9p_251 button{
    /* background-color: #818CF8!important; */
    border-radius: 4px;
    padding: 0.5rem!important;
    color: white!important;
    text-align: center;
    height: 30px;
      display: flex;
    justify-content: center;
    align-items: center;
   

}
.custom-pagination .awsui_button-current_fvjdu_chz9p_234{
    /* background-color: #818CF8!important; */
   font-weight: 800;
   font-size: 18px;
   

}

.custom-pagination .awsui_page-item_fvjdu_chz9p_251 button span{
   
    color: white!important;
    text-align: center;
    height: 20px;


}

.integration-logos{

filter: brightness(0) saturate(100%) invert(87%) sepia(12%) saturate(22%) hue-rotate(314deg) brightness(88%) contrast(80%);
}

.custom-copy .awsui_text-to-copy_ljpwc_1spew_9{
    color: whitesmoke;
}

:root {
    --tw-ring-offset-shadow : 0 0 #0000;
    --tw-ring-shadow: 0 0 0 0 calc(1px ) hsla(0, 0%, 100%, .05);
}
.custom-shadow{
   -webkit-box-shadow: -3px 4px 4px 0px rgba(255, 255, 255, 0.39) !important; 
box-shadow: -3px 4px 4px 0px rgba(255, 255, 255, 0.39) !important;
}