
.schema .awsui_list_l0dv0_1behr_221{
    max-height: calc(62dvh - 7rem);
    overflow: hidden;
    overflow-y: auto;
}


.schema .awsui_content-wrapper_14iqq_1uqiy_304{
    min-height: calc(62dvh - 1.75rem);
    max-height: calc(62dvh - 1.75rem);
    /* overflow: hidden; */
    overflow-y: auto;

}
.schema .awsui_wrapper_wih1l_1200x_208{
     min-height: calc(62dvh - 7rem);
     /* max-height: calc(62dvh - 1.75rem); */
    /* overflow: hidden; */
    /* overflow-y: scroll; */
}
.schema .awsui_header-controls_wih1l_1200x_321{
    padding-left: 0!important;
}
.schema .awsui_root_l0dv0_1behr_141{
    background: #e4e3e3!important;
}
.schema .awsui_root_wih1l_1200x_149{
    background: #e4e3e3!important;
}

.schema .awsui_content_14iqq_1uqiy_304{
    background: #e4e3e3!important;
}
.schema .awsui_header_14iqq_1uqiy_345{
    background: #e4e3e3!important;
}
.schema th{
    background: #e4e3e3!important;
}
.schema .awsui_header_l0dv0_1behr_178{
    padding-top: 1rem!important;
}
.schema .awsui_header_l0dv0_1behr_178 span{
   font-size: 20px!important;
}