
.schema .awsui_list_l0dv0_1behr_221{
     max-height: 50dvh;
    overflow: hidden;
    overflow-y: scroll;
}


.schema .awsui_content-wrapper_14iqq_1uqiy_304{
    min-height: calc(62dvh - 1.75rem);
     max-height: calc(62dvh - 1.75rem);
    overflow: hidden;
    overflow-y: scroll;

}